<div style="text-align: center;">
    <h3>Settings Lego House</h3>
</div>
<div style="text-align: center;" [hidden]='settings'><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>
<form *ngIf="settings" (ngSubmit)="updateSettings()" novalidate>
    <div class="row" *ngIf="settings" style="text-align: center"><button type="submit">Save Settings</button></div>
<div class="row" *ngIf="settings" style="padding-right:20px;padding-left:20px">
    <div class=" col-md-3 " style="padding-top: 20px;padding-bottom: 20px">
        <md-card>
            <div class=" card-block ">
                <h4 class="card-title ">
                    <i class="material-icons orange600 ">lightbulb_outline</i> Home Automation</h4>
                <p class="card-text">Status: 
                    <md-input-container >
                        <input  md-input [(ngModel)]="settings.automation" name="automation" value="{{settings.automation}}">
                    </md-input-container>
                    </p>
            </div>
        </md-card>
    </div>
    <div class=" col-md-3 " style="padding-top:20px;padding-bottom:20px ">
        <md-card>
            <div class="card-block ">
                <h4 class="card-title "><i class="fa fa-sun-o " style="color:orangered " aria-hidden="true "></i> Minimum Temperature</h4>
                <p class="card-text">Temperature: <md-input-container>
                        <input [(ngModel)]="settings.minTemp" name="minTemp" md-input value="{{settings.minTemp}}">
                    </md-input-container></p>

            </div>
        </md-card>
    </div>
    <div class="col-md-3 " style="padding-top:20px;padding-bottom:20px ">
        <md-card>
            <div class="card-block ">
                <h4 class="card-title "><i class="fa fa-sign-out " aria-hidden="true " style="color:brown "></i> Automatic Light Detection</h4>
                              <p class="card-text">Status: <md-input-container>
                        <input [(ngModel)]="settings.lightDetect" name="lightDetect"  md-input value="{{settings.lightDetect}}">
                    </md-input-container></p>

            </div>
        </md-card>
    </div>
    <div class="col-md-3 " style="padding-top:20px;padding-bottom:20px;">
        <md-card>
            <div class="card-block ">
                <h4 class="card-title "><i class="fa fa-windows " aria-hidden="true " style="color:blue "></i> Alarm Status</h4>
                <p class="card-text">Status: <md-input-container>
                        <input [(ngModel)]="settings.alarm" name="alarm" md-input value="{{settings.alarm}}">
                    </md-input-container></p>
                <p class="card-text">Alarm State: {{settings.alarmState}}</p>
                 

            </div>
        </md-card>
    </div>
</div>
<br>
<div class="row" *ngIf="settings" style="padding-right:20px;padding-left:20px">
    <div class="col-md-3 " style="padding-top:20px;padding-bottom:20px ">
        <md-card>
            <div class="card-block ">
                <h4 class="card-title "><i class="material-icons " style="color:yellow ">lightbulb_outline</i> Sleeping</h4>
                 <p class="card-text">Status: <md-input-container>
                        <input [(ngModel)]="settings.sleeping" name="sleeping" md-input value="{{settings.sleeping}}">
                    </md-input-container></p>
                
            </div>
        </md-card>
    </div>
    <div class="col-md-3 " style="padding-top:20px;padding-bottom:20px ">
        <md-card>
            <div class="card-block ">
                <h4 class="card-title "><i class="fa fa-thermometer-three-quarters " style="color:orangered " aria-hidden="true "></i> Currently Home?</h4>
                 <p class="card-text">Status: <md-input-container>
                        <input [(ngModel)]="settings.home" name="home" md-input value="{{settings.home}}">
                    </md-input-container></p>
                
            </div>
        </md-card>
    </div>
    <md-input-container>
<input [(ngModel)]="settings._id" name="id" md-input value="588a1d4f94110637494d089f">{{settings._id}}
</md-input-container>
   
</div>
</form>